.burgerConstructor {
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.itemsBar {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.list {
    list-style-type: none;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.itemUnlock {
    max-height: 35vh;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
}

.itemUnlock::-webkit-scrollbar {
    width: 8px;
    background-color: #2f2f37;
  }
  .itemUnlock::-webkit-scrollbar-thumb {
    width: 8px;
    height: 25vh;
    background-color: #8585ad;
  }

  .itemUnlock::-webkit-scrollbar-track {
    background: #2F2F37;
  }

.order {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}