.burgerConstructor {
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.itemsBar {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.list {
    list-style-type: none;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.itemUnlock {
    max-height: 35vh;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
}

.itemUnlock::-webkit-scrollbar {
    width: 8px;
    background-color: #2f2f37;
  }
  .itemUnlock::-webkit-scrollbar-thumb {
    width: 8px;
    height: 25vh;
    background-color: #8585ad;
  }

  .itemUnlock::-webkit-scrollbar-track {
    background: #2F2F37;
  }

.order {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.emptyBlock {
    width: 400px;
    cursor: pointer;
    border-radius: 30px;
    height: 35vh;
    display: flex;
    overflow-y: hidden;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 250px auto;
    text-align: center;
    border: 1px solid white;
  }

  .emptyBlock:hover {
    border: 1px solid #4c4cff;
    cursor: pointer;
    box-shadow: #4c4cff 0px 54px 55px, #4c4cff 0px -12px 30px, #4c4cff 0px 4px 6px,  #4c4cff 0px 12px 13px,  #4c4cff 0px -3px 5px;
  }

  .emptyBlockMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }