.orderBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 718px;
  margin-top: 64px;
}

.img {
  width: 120px;
  height: 120px;
  align-self: center;
  margin: 60px 0;
}
