.page {
    background-color: #131316;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1920px;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}