@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  src: url("./fonts/Jetbrainsmonoregular.woff2") format("woff2"),
       url("./fonts/Jetbrainsmonoregular.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 700;
  src: url("./fonts/Jetbrainsmonobold.woff2") format("woff2"),
       url("./fonts/Jetbrainsmonobold.woff") format("woff");
}

@font-face {
  font-family: 'Iceland';
  font-weight: 400;
  src: url("./fonts/Iceland-Regular.woff2") format("woff2"),
       url("./fonts/Iceland-Regular.woff") format("woff");
} 
